@model IEnumerable<SamsWarehouseApplication.Models.Product>

<table class="table" id="addProductToList">
    <thead>
        <tr>
            <th>
                <div class="style">
                @Html.DisplayNameFor(model => model.ProductName)
                </div>
            </th>
            <th>
                <div class="style">
                @Html.DisplayNameFor(model => model.ProductUnit)
                </div>
            </th>
            <th>
                <div class="style">
                @Html.DisplayNameFor(model => model.ProductPrice)
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                <div class="style">
                @Html.DisplayFor(modelItem => item.ProductName)
                </div>
            </td>
            <td>
                <div class="style">
                @Html.DisplayFor(modelItem => item.ProductUnit)
                </div>
            </td>
            <td>
                <div class="style">
                @Html.DisplayFor(modelItem => item.ProductPrice)
                </div>
            </td>
            <td>
                @if (!String.IsNullOrWhiteSpace(Context?.Session?.GetString("Authenticated")))
                    {
                        @if (Context.Session.GetString("Authenticated").Contains("True"))
                        {
                            <input type="button" class="btn btn-success" value="Add to Shopping List" name="@item.ProductId"/>
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>
